<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define CryptoX_TargetDir=$(var.CryptoX.TargetDir)?>
	<Product Id="*" Name="CryptoXinstaller" Language="1033" Version="1.0.0.0" Manufacturer="Droplet" UpgradeCode="ffff96ad-65fb-4986-9af8-c9c60fd5f163">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="CryptoXinstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="CryptoXinstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="CryptoX.runtimeconfig.json" Guid="85f0aa99-8a8a-42ed-92ef-32f72be9e421">
			  <File Id="CryptoX.runtimeconfig.json" Name="CryptoX.runtimeconfig.json" Source="$(var.CryptoX_TargetDir)CryptoX.runtimeconfig.json" />
			</Component>
			<Component Id="CryptoX.dll" Guid="48d25017-d0c5-44f5-a990-a7c27a3289f4">
			  <File Id="CryptoX.dll" Name="CryptoX.dll" Source="$(var.CryptoX_TargetDir)CryptoX.dll" />
			</Component>
      <Component Id="CryptoX.exe" Guid="cb676608-d277-4780-8fac-42b482617e71">
        <File Id="CryptoX.exe" Name="CryptoX.exe" Source="$(var.CryptoX_TargetDir)CryptoX.exe" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
